DATABASE_URL=postgresql://postgres.vvdlkjqubjjlvucgjitq:P/W$5DQ.AQu!7-3@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
SECRET_KEY=your-secret-key-here
REDIS_URL=redis://localhost:6379
SERVER_NAME=Shiksha Mitra Backend
SERVER_HOST=http://localhost:8000
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]
